{% extends "auctions/layout.html" %}

{% block body %}
<h4>Listing: {{item.title}}(Closed)</h4>
    {%if item.urls == None%}
        Details
        <div>Description:{{item.description}}</div>
        <div>Price: {{item.price}}</div>

        <ul>
            Comments:  
            {% for comment in comments %}
            <li>{{comment.comment}}</li>
            {% endfor %}
        </ul>
        <h4>Congratulations, you won the auction!</h4>
    {%else%}

        <div>Description:{{item.description}}</div>
        <div>Price: {{item.price}}</div>
        <div><img src="{{item.urls}}"></div>

        <ul>
            Comments:
            {% for comment in comments %}
            <li>{{comment.comment}}</li>
            {% endfor %}
        </ul>

        <h4>Congratulations, you won the auction!</h4>

    {% endif %}
{% endblock %}