{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
    {%for auction_listing in auction_listings%}
        {%if auction_listing.urls == None %}
            
            <li>   
                <div>
                    <a href = "{%url 'listing_details' auction_listing.id %}">{{auction_listing.title}}</a>
                </div>
                <div>
                    {{auction_listing.description}}
                </div>
                <div>
                    {{auction_listing.price}}
                </div>
            </li> 
            

        {%else%}       
            <li>
                <div>
                    <a href = "{%url 'listing_details' auction_listing.id %}">{{auction_listing.title}}</a>
                </div>
                <div>
                    {{auction_listing.description}}
                </div>
                <div>
                    {{auction_listing.price}}
                </div>
                <div>
                    <img src="{{auction_listing.urls}}">
                </div>
            </li>
        
        {%endif%}
    {%endfor%}
    </ul>
{% endblock %}